body {
    background: linear-gradient(87.4deg, rgb(255, 241, 165) 1.9%, rgb(200, 125, 76) 49.7%, rgb(83, 54, 54) 100.5%);
    font-family: "Roboto", sans-serif;
  }
  
  a {
    color: #885df1;
  }
  
  .weather-app {
    background: wheat;
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  }
  
  header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
  }
  
  .search-input {
    background-color: rgb(240, 233, 233);
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 20px;
    width: 80%;
    border-radius: 6px;
  }
  
  .search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #885df1;
    color: white;
    border: none;
    padding: 20px ;
    line-height: 1;
    border-radius: 5px;
    
  }
  
  main {
    padding: 30px 0;
  }
  
  .current-temperature {
    font-size: 48px;
    display: flex;
    flex-direction: row;

  }
  
  .current-weather {
    display: flex;
    justify-content: space-between;
  }
  
  .current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
  }
  .current-details {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .current-details strong {
    color: #f65282;
  }
  
  .current-temperature-icon {
    font-size: 40px;
    margin-right: 10px;
  }
  
  .current-temperature-value {
    font-size: 90px;
    font-weight: bold;
  }
  
  .current-temperature-unit {
    font-size: 28px;
  }
  
  footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 15px;
  
    color: rgba(39, 33, 66, 0.4);
  }
  